._home_swiper{
    height: 360px;
    ._home_swiper_item{
        text-align:center;
    }
}
._home_room{
    position: sticky;
    margin:10px;
    top: 0;
    background-color: #fff;

    color:#333;
    ._home_room_menu{
      
    }
}
._home_items_warps{
    margin: 10px auto 120px auto;
    overflow-y: auto;
}
._home_items_warp{
    font-size:24px;
    width:100%;
    display: flex;
    border:1px dashed #ddd;
    justify-content: space-around;
    height: 300px;
    align-items: center;
    padding:20px;
    // border-radius:10px;
    // box-shadow:10px 10px 10px #ccc;
    // margin: 14px auto;
    color:#333;
    line-height:50px;
    ._item_name{
        font-size:36px;
    }
    ._item_desc{

    }
    ._item_price{
        font-size:28px;
        padding:2px;
        border-radius:4px;
        text-align:center;
        box-shadow:2px 2px 2px #d40204d6;
        background-color:#ffd806;
        color:#333;
        width:200px;
    }
    ._item_id{
        color:#ccc;
    }
    image{
        width:50%;
        height: 80%;
        margin-right:40px;
    }
    ._item_action{
        display: flex;
        justify-content: space-around;
        width:240px;
        height: 60px;
        line-height:60px;
        text-align:center;
        margin-top:10px;
        ._item_like{
             width:120px;
            border-color:none;
            color:#6190E8;
            background-color:#f1f0f0;
            border-radius:60px 0 0 60px;
        }
        ._item_buy{
            width:120px;
            color:#fff;
             background-color:#6190E8;
             border-radius:0 60px 60px 0;
        }
    }
}